header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-youtube
    .header__column
        ul
            li
                //- a(href="#") Join //- middlewares.js에서 routes.js를 import후 res.locals로 공유 했으므로 사용 가능
                a(href=routes.join) Join
            li
                a(href=routes.login) Log In