<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    //- videoDetail.pug
    span.jsDeleteComment
    form.delete__comment#jsDeleteComment
        input(type="hidden", class="commentID", name="commentID", value=comment.id)
        //- if loggedUser
        if loggedUser && comment.creator_id === loggedUser.id
        input.deleteBtn(type="submit", value="DELETE")
</body>
</html>



