//- extends 로 main.pug를 불러와서 block content로 매칭시킨 후 내용을 집어 넣음
extends layouts/main.pug
include mixins/videoBlock

block content
    .videos
        //- 일단은 가짜 데이터베이스로 작업할 것임 
        //- 실제로 비디오를 보여주기 전에 템플릿을 테스트 할 수 있음 
        //- for each 반복문을 이렇게 사용가능한건가? pug에서만 가능한 듯
        each item in videos 
            +videoBlock({
                id:item.id,
                title:item.title,
                views:item.views,
                videoFile:item.videoFile
            })