extends layouts/main

block content
    .user-profile
        .user-profile__header
            //- helmet()에 옵션 {contentSecurityPolicy: false} 추가 후 이미지 출력 잘 됨
            img.avatar(src=user.avatarUrl)
            //- p=user.avatarUrl
            h4.profile__username=user.name