mixin videoPlayer(video ={})
    .videoPlayer#jsVideoPlayer
        video(src=`${video.src}`)
        .videoPlayer__controls
            span#jsPlayButton
                i.fas.fa-play
            input#jsVideoRange(type="range", min="0", max="100", step="1")
            span
                span#currentTime 00:00:00
                span / 
                span#totalTime 00:00:00
            .videoPlayer__column-volume
                span#jsVolumeButton
                    i.fas.fa-volume-up
                
                input.videoPlayer__volume#jsVolume(type="range", min="0", max="1", step="0.1")
            
            .videoPlayer__column-expand
                span#jsFullScreen
                    i.fas.fa-expand