extends templates/layout

block content
  h1=pageTitle
  form(action="/create", method="post")
    input.js-input-title(type="text", name="title", placeholder="Title", minlength="3")
    input.js-input-year(type="number", name="year", placeholder="Year", required="required")
    input.js-input-rating(type="text", name="rating", placeholder="Rating", required="required")
    textarea.js-textarea-synopsis(name="synopsis", placeholder="Synopsis", required="required")
    input.js-input-genres(type="text", name="genres", placeholder="Genres", required="required")
    input.js-input-submit(type="submit", value="submit")
  
  //- script(src="blockEmpty.js")