.header {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    min-width: 500px;
    position: fixed;
    height: 50px;
    z-index: 10;
    color:  #606060;
    .header__wrapper {
      padding: 5px 10px;
      width: 100%;
      margin: 0 auto;
      max-width: 1200px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      .header__column {
        &:first-child {
          display: flex;
          a{
            display: flex;
            align-items: flex-start;
            i {
              color: $red;
              font-size: 25px;
            }
            .header__title {
              color: black;
              margin-left: 4px;
              font-size: 23px;
              font-weight: 650;
              letter-spacing: -2px;
              span:first-child {
                letter-spacing: -4px;
              }
              span:last-child {
                margin-left: 1px;
                letter-spacing: -1px;
              }
            }
          }
          .tony {
            font-size: 10px;
            // transform: scale(0.9);
          }
        }
        &:nth-child(2) {
          width: 100%;
          justify-self: center;
        }
        &:last-child {
          justify-self: end;
        }
        ul {
          display: flex;
          // color: white;
          font-weight: 600;
          text-transform: uppercase;
          li:not(:last-child) {
            margin-right: 15px;
          }
        }
        form {
          width: 100%;
          input {
            padding: 7px 10px;
            width: 100%;
            border-radius: 5px;
            font-size: 14px;
            color: $black;
            font-weight: 600;
            max-width: none;
            &::placeholder {
              font-weight: 300;
              color: rgba(0, 0, 0, 0.7);
            }
          }
        }
        a[href]   {
            color: #606060;
        }
      }
    }
  }