.videoPlayer {
    background-color: #f0f0f0;
    padding: 7px 9px;
    box-shadow: 20px 10px 20px 10px rgb(185, 182, 182), inset -2px -2px 2px rgb(109, 107, 107);
    border-radius: 5px;
    position: relative; 
    @media screen and (min-width:769px) {
      width: 70vw;
    }
    @media screen and (max-width:768px) {
      width: 95%;
    }
    display: flex;
    justify-content: center;
    &:hover {
      .videoPlayer__controls {
        opacity: 1;
      }
    }
    video {
      width: 100%;
      max-width: 100%;
      border-radius: 5px;
    }
    .videoPlayer__controls {
      border-radius: 5px;
      opacity: 1;
      transition: opacity 0.4s linear;
      color: white;
      position: absolute;
      z-index: 9;
      bottom: 2.5vh;
      width: 80%;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.5vw 1vw;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 1vw;

      display: grid;
      grid-template-columns: 1vw 1fr max-content 1.5vw 1.5vw;
      grid-template-rows: 1fr;
      gap: 1vw;
      
      #jsVideoRange {
        width: 100%;
        margin: 0;
        padding: 0;
      }

      .videoPlayer__column-volume {
        position: relative;
        width: max-content;
        margin-right: 10px;
      }
      .videoPlayer__volume {
        position: absolute;
        padding: 0;
        opacity: 0;
        top: -60px;
        left: -35px;
        transform: rotate(-90deg);
        z-index: 10;
        width: 80px;
  
      }
      .videoPlayer__column-expand {
        width: max-content;
      }
      i {
        cursor: pointer;
        font-size: 1.5vw;
      }
    }
  }