.social-login
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github
            | Continue with Github
            //- |(역슬래시)를 붙이면 모든 것을 텍스트로 바꿔줌 안붙이면 continue를 tag로 인식해서 에러가 발생함
    button.social-login--facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook
            | Continue with facebook