.video-detail__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 4vw;
    .video__info {
      width: 100%;
      max-width: 850px;
      margin-top: 25px;
      button {
        width: 100px;
        margin-bottom: 25px;
      }
      .video__author{
        a {
          color: #3498db;
        }
      }
      .video__title,
      .video__views,
      .video__description {
        display: block;
        margin-bottom: 15px;
      }
      .video__title {
        font-size: 22px;
        font-weight: 300;
      }
      .video__views {
        font-size: 14px;
      }
      .video__description {
        font-size: 16px;
      }
    }
    .video__comments {
      width: 100%;
      max-width: 850px;
      margin-top: 25px;
      text-align: center;
      .video__comment-number {
        font-size: 18px;
      }
      .add__comment {
        margin-top: 25px;
        width: 100%;
        input {
          max-width: 100%;
        }
      }
    }
    .video__comments-list {
      margin-top: 35px;
      li {
        background-color: #ecf0f1;
        color: black;
        padding: 10px 15px;
        border-radius: 15px;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        display: grid;
        grid-template-columns: 30px 1fr 30px;
        gap: 10px;
        
        .comment-creator-avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        .comment-box{          
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          span {
            white-space: normal;
            word-break: break-all;
          }            
          .comment-creator {
            font-size: 0.8rem;
            margin-bottom: 5px;
          }
        }
        .comment-icon-container{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          i {
            cursor: pointer;
          }
          i:first-child{
            margin-bottom: 10px;
          }
        }
      }
    }
  }